{% extends 'mipan/inicioJefes.html.twig' %}

{% block gestion %}

{% if app.session.get('Conectado') %}

<div class="container">
	<h2>PEDIDOS</h2>
	<br>
	<h3>-{{ mensaje }}</h3>
	<hr>
	<div class="container">

		<section class="p-0 mb-5">
			<div class="container-fluid p-0">
				
				<ul class="nav nav-tabs" role="tablist" id="myTab">
				
					<li class="nav-item">
						<a class="nav-link active" id="listadoPedidosPendientes-tab" data-toggle="tab" href="#listadoPedidosPendientes" role="tab" aria-controls="listadoPedidosPendientes" aria-selected="true">Listado de Pedidos Pendientes</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="listadoPedidosEnCurso-tab" data-toggle="tab" href="#listadoPedidosEnCurso" role="tab" aria-controls="listadoPedidosEnCurso" aria-selected="true">Listado de Pedidos en Curso</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="listadoPedidosFinalizados-tab" data-toggle="tab" href="#listadoPedidosFinalizados" role="tab" aria-controls="listadoPedidosFinalizados" aria-selected="true">Listado de Pedidos Finalizados</a>
					</li> 

				</ul>
				<br>

				<div class="tab-content" id="myTabContent">


					<div class="tab-pane fade show active" id="listadoPedidosPendientes" role="tabpanel" aria-labelledby="listadoPedidosPendientes-tab">
						
						{% for pedido in pedidos %}
						{% if pedido.panaderia == app.session.get('Panaderia') %}
						{% if pedido.pendiente == TRUE and pedido.enCurso == FALSE and pedido.pagado == FALSE %}

						<div class="panel-heading pb-2 pt-2 text-white" style="background-color: grey;">
							<span class="ml-2">Pedido: {{ pedido.id }}</span>
						</div>
						<ul class="list-group">
							<li class="list-group-item">
								<h5>Panaderia: {{ pedido.panaderia }}</h5>
								<h5>Fecha de Pedido: {{ pedido.fechaPedido }}</h5>
								<h5>Vendedor: {{ pedido.vendedor }}</h5>
								<h5>Tipo de Venta: {{ pedido.tipoVenta }}</h5>
								<h5>Cliente: {{ pedido.cliente }}</h5>
								<h5>Dirección: {{ pedido.direccionCliente }}</h5>
								<h5>Producto: {{ pedido.producto }}</h5>
								<h5>Cantidad: {{ pedido.cantidad }}</h5>
								<h5>Importe: {{ pedido.importe }}</h5>
								
								<h5>Estado del Pedido(Pendiente): {{ pedido.pendiente }}</h5>
								<h5>Estado del Pedido(En curso): {{ pedido.enCurso }}</h5>
								<h5>Estado del Pedido(Finalizado): {{ pedido.pagado }}</h5>
								
							</li>
						</ul>
						<hr>

						{% endif %}
						{% endif %}
						{% endfor %}
					</div>

					<div class="tab-pane fade" id="listadoPedidosEnCurso" role="tabpanel" aria-labelledby="listadoPedidosEnCurso-tab">
						
						{% for pedido in pedidos %}
						{% if pedido.panaderia == app.session.get('Panaderia') %}
						{% if pedido.pendiente == FALSE and pedido.enCurso == TRUE and pedido.pagado == FALSE %}

						<div class="panel-heading pb-2 pt-2 text-white" style="background-color: orange;">
							<span class="ml-2">Pedido: {{ pedido.id }}</span>
						</div>
						<ul class="list-group">
							<li class="list-group-item">
								<h5>Panaderia: {{ pedido.panaderia }}</h5>
								<h5>Fecha de Pedido: {{ pedido.fechaPedido }}</h5>
								<h5>Vendedor: {{ pedido.vendedor }}</h5>
								<h5>Tipo de Venta: {{ pedido.tipoVenta }}</h5>
								<h5>Cliente: {{ pedido.cliente }}</h5>
								<h5>Dirección: {{ pedido.direccionCliente }}</h5>
								<h5>Producto: {{ pedido.producto }}</h5>
								<h5>Cantidad: {{ pedido.cantidad }}</h5>
								<h5>Importe: {{ pedido.importe }}</h5>
							
								<h5>Estado del Pedido(Pendiente): {{ pedido.pendiente }}</h5>
								<h5>Estado del Pedido(En curso): {{ pedido.enCurso }}</h5>
								<h5>Estado del Pedido(Finalizado): {{ pedido.pagado }}</h5>
								
							</li>
						</ul>
						<hr>

						{% endif %}
						{% endif %}
						{% endfor %}
					</div>

					<div class="tab-pane fade" id="listadoPedidosFinalizados" role="tabpanel" aria-labelledby="listadoPedidosFinalizados-tab">
						
						{% for pedido in pedidos %}
						{% if pedido.panaderia == app.session.get('Panaderia') %}
						{% if pedido.pendiente == FALSE and pedido.enCurso == FALSE and pedido.pagado == TRUE %}

						<div class="panel-heading pb-2 pt-2 text-white" style="background-color: #347AB6;">
							<span class="ml-2">Pedido: {{ pedido.id }}</span>
						</div>
						<ul class="list-group">
							<li class="list-group-item">
								<h5>Panaderia: {{ pedido.panaderia }}</h5>
								<h5>Fecha de Pedido: {{ pedido.fechaPedido }}</h5>
								<h5>Vendedor: {{ pedido.vendedor }}</h5>
								<h5>Tipo de Venta: {{ pedido.tipoVenta }}</h5>
								<h5>Cliente: {{ pedido.cliente }}</h5>
								<h5>Dirección: {{ pedido.direccionCliente }}</h5>
								<h5>Producto: {{ pedido.producto }}</h5>
								<h5>Cantidad: {{ pedido.cantidad }}</h5>
								<h5>Importe: {{ pedido.importe }}</h5>
								
								<h5>Estado del Pedido(Pendiente): {{ pedido.pendiente }}</h5>
								<h5>Estado del Pedido(En curso): {{ pedido.enCurso }}</h5>
								<h5>Estado del Pedido(Finalizado): {{ pedido.pagado }}</h5>
								
							</li>
						</ul>
						<hr>

						{% endif %}
						{% endif %}
						{% endfor %}
					</div>

					


					

				</div>
			</div>
		</section>

	</div>




</div>

{% else %}

<h3 style="color:red;" class="text-right">Aceso Denegado</h3>

{% endif %}

{% endblock %}
