{% extends 'mipan/inicioJefes.html.twig' %}

{% block gestion %}

<h2>Datos del Usuario</h2>
<br>
<b>| <a href="{{ path('app_mipan_editarPerfilJefes', {'usuario': perfil.usuario}) }}">EDITAR DATOS DEL USUARIO</a></b>
<hr>
<br>
<h2>PANADERIA</h2>
<h3>{{ perfil.panaderia }}</h3>
<hr>
<h2>Usuario</h2>
<h3>{{ perfil.usuario}}</h3>
<hr>
<h2>Tipo de Trabajador</h2>
<h3>{{ perfil.especialidad }}</h3>
<hr>
<h2>DNI</h2>
<h3>{{ perfil.dni }}</h3>
<hr>
<h2>Nombre y Apellidos</h2>
<h3>{{ perfil.nombre }} {{ perfil.apellidos }}</h3>
<hr>
<h2>Email</h2>
<h3>{{ perfil.email }}</h3>
<hr>
<h2>Teléfono</h2>
<h3>{{ perfil.telefono }}</h3>
<hr>




</br>

{% endblock %}